<div id="all">
  <div id="summary-section" class="col-md-4">
    <div class="blurb" id="profile-info">
      <div id="avatar">
        <h1>Stanford on Twitter</h1>
      </div>
      <div id="test">
        <p> stuff </p>
        <input value="prefilled vestiges of testing">
      </div>
    </div>
    <div class="blurb" id="most-retweets"></div>
    <div class="blurb" id="most-tweeted-from"></div>
  </div>



  <div id="content-container" class="col-md-7">
    <div id="main-tweets"></div>
  </div>
</div>