<p> Sort by:
    <button class="sort" data-by="created_at" type="button">time</button>
    <button class="sort" data-by="retweet_count" type="button">retweets</button>
    <button class="sort" data-by="favorite_count" type="button">favorites</button>
    <button class="refresh" type="button">refresh tweets</button>
</p>