<p>Sort by:
  <span class="btn-toolbar">
    <span class="btn-group btn-group-sm">
      <button class="sort btn btn-default" data-by="created_at" type="button">time</button>
      <button class="sort btn btn-default" data-by="retweet_count" type="button">retweets</button>
      <button class="sort btn btn-default" data-by="favorite_count" type="button">favorites</button>
    </span>
      <button class="refresh btn btn-default btn-sm" type="button">refresh tweets</button>
  </span>
</p>